@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply bg-gradient-to-r from-indigo-600 via-purple-500 to-pink-900 h-screen;
}
